
  <div class="container-fluid text-center bg-light ">

    <div>
        <p>Despachamos por</p>
            <img src="https://www.kimikaweb.com/wpv2/wp-content/uploads/2018/11/chilexpress-300x84.png" alt="">
            <img src="https://www.kimikaweb.com/wpv2/wp-content/uploads/2018/11/correos-chile-logo-600x156-300x78.png" alt="">
    </div>
   
  </div>
