<ul>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
       <a href="/login">Login</a> 
       </li>
       <li>
       <a href="/product">producto</a> 
       </li>
       <li>
       <a href="/productList">Lista de productos</a> 
<li>
       <a href="/register">registrarse</a> 
       </li>

       <li>
       <a href="/order">Ver order</a> 
       </li>
<li>
       <a href="/complete">confirmacion pedido</a> 
       </li>
       </li>
</ul>